<p>ANGULAR</p>

<button (click)="enablePerson = !enablePerson">crear/Destruir</button>
<app-person *ngIf="enablePerson">
  <button>PrintColor</button>
  <button>Print</button>
</app-person>

<app-person [hidden]="!enablePerson">
  <button>Cancel</button>
</app-person>

<p *ngIf="enablePerson; else testelse">Enable person es true</p>

<ng-template #testelse>
  <p>Enable person es false</p>
</ng-template>

<div *ngFor="let item of ['a', 'b', 'c', 'd', 'e', 'f']; let i = index">
  <app-person [name]="item" *ngIf="i % 2 === 0">
    <button>hola - {{ item }} - index {{ i }}</button>
  </app-person>
</div>

<input type="number" [(ngModel)]="level" />

<div [ngSwitch]="level">
  <p *ngSwitchCase="1">nivel 1</p>
  <p *ngSwitchCase="2">nivel 2</p>
  <p *ngSwitchCase="3">nivel 3</p>
  <p *ngSwitchCase="4">nivel 4</p>
  <p *ngSwitchDefault>
    My Bonnie lies over the ocean. My Bonnie lies over the sea. My Bonnie lies
    over the ocean. Oh, bring back my Bonnie to me.
  </p>
</div>
